{% extends "chat/base.html" %}

{% block title %}Login{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
<div class="chat-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Email or Username:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="alert alert-danger">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        
        <button type="submit" class="send-button">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <div style="margin-top: 20px;">
        Don't have an account? <a href="{% url 'chat:signup' %}">Sign Up</a>
    </div>
</div>
{% endblock %}